@page "/"
@using CustomBlazorInputs.Inputs
@using CustomBlazorInputs.Models

<PageTitle>Home</PageTitle>

<EditForm Model="Widget" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <DvInputNumber @bind-Value="Widget.Id" LabelText="Id" Validation="() => Widget.Id"></DvInputNumber>
    <DvInputText @bind-Value="Widget.Name" LabelText="Name" Validation="() => Widget.Name"></DvInputText>
    <DvInputArea @bind-Value="Widget.Description" LabelText="Description" Validation="() => Widget.Description"></DvInputArea>
    <DvInputDate @bind-Value="Widget.CreatedAt" LabelText="Created" Validation="() => Widget.CreatedAt"></DvInputDate>
    <DvInputSelect @bind-Value="Widget.Option" LabelText="Option" Options="Options" Validation="() => Widget.Option"></DvInputSelect>
    <button type="submit">Save</button>
</EditForm>

@code{
    private Widget Widget { get; set; } = new();
    List<string> Options = new List<string> { "Option1", "Option2", "Option3" };
    private void OnSubmit()
    {
        
    }
}